@layer components {
  .cmp-main-btn--pages {
    background-color: #ffffff;
    color: var(--clr-lighter-black);
    transition:
      transform 0.2s ease-out,
      background-color 0.3s ease,
      color 0.3s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--clr-green-250);
        color: var(--clr-lighter-white);
      }
    }
  }

  .side-svg-decor-box {
    user-select: none;
    pointer-events: none;
    transition: opacity 0.75s ease-out;
  }

  .cmp-side-wave-svg {
    position: fixed;
    width: auto;
    min-height: 100vh;
    aspect-ratio: 140 / 680;
    left: -4.25rem;
    fill: #434316;
    top: 0;
    z-index: 100;
    filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(8px 4px 10px rgba(0, 0, 0, 0.15));

    @media (width > 92rem) {
      left: -2rem;
    }
  }

  .cmp-side-wave-svg-right {
    left: unset;
    right: -4.25rem;
    filter: drop-shadow(-4px -3px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(-12px -6px 10px rgba(0, 0, 0, 0.15));

    @media (width > 92rem) {
      right: -2rem;
    }
  }

  .cmp-creeper-side-image {
    position: fixed;
    right: -8.5rem;
    top: 0.5rem;
    rotate: 7deg;
    z-index: 110;
    filter: drop-shadow(-2px -1px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(-6px -3px 10px rgba(0, 0, 0, 0.15));

    @media (width > 92rem) {
      right: -7rem;
      rotate: 7deg;
    }
  }

  .cmp-creeper-side-image-2 {
    left: -8.5rem;
    rotate: -7deg;
    filter: drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(6px 3px 10px rgba(0, 0, 0, 0.15));

    @media (width > 92rem) {
      left: -7rem;
      rotate: -9deg;
    }
  }

  .cmp-bird-image,
  .cmp-bird-image-2 {
    position: fixed;
    user-select: none;
    z-index: 115;
    max-width: 7%;

    @media (width > 62.5rem) {
      max-width: 3.5%;
    }
  }

  .cmp-bird-image {
    top: 12rem;
    left: -0.5rem;
    rotate: 18deg;

    @media (width > 62.5rem) {
      top: 6rem;
      left: 0;
    }
  }

  .cmp-bird-image-2 {
    right: -0.5rem;
    top: 23rem;
    rotate: -8deg;

    @media (width > 62.5rem) {
      top: 26rem;
      right: 0;
    }
  }
}

@layer base {
  main.secondary-pages {
    background-repeat: repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 30, 80, 0.4);
  }

  main.about-page {
    background-image: url("/assets/images/background/about-bg-s.webp");
    background-position: center top;

    @media (width > 37.5rem) {
      background-image: url("/assets/images/background/about-bg-l.webp");
    }
  }

  main.menu-page {
    background-image: url("/assets/images/background/menu-bg-s.webp");
    background-position: top;

    @media (width > 37.5rem) {
      background-image: url("/assets/images/background/menu-bg-l.webp");
    }
  }

  main.gallery-page {
    background-image:
      linear-gradient(rgba(0, 15, 40, 0.4), rgba(0, 15, 40, 0.4)),
      url("/assets/images/background/gallery-bg-s.webp");
    background-color: unset;
    background-size: unset;
    background-position: top;
    background-repeat: repeat;

    @media (width > 37.5rem) {
      background-image:
        linear-gradient(rgba(0, 15, 40, 0.25), rgba(0, 15, 40, 0.25)),
        url("/assets/images/background/gallery-bg-l.webp");
    }
  }

  main.reserve-page {
    background-image: url("/assets/images/background/contact-bg-s.webp");
    background-position: bottom;

    @media (width > 37.5rem) {
      background-image: url("/assets/images/background/contact-bg-l.webp");
    }
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 2 / SECTION-ONE / ABOUT ***       \\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  #about-section {
    padding-block: 0;
    text-align: left;
  }

  .about-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding-block: var(--padd-page-48);

    .about-flex__text-block {
      max-width: 75ch;
      margin-inline: auto;
      backdrop-filter: blur(0.1rem);
      -webkit-backdrop-filter: blur(0.1rem);

      @media (width > 62.5rem) {
        margin-inline: unset;
        margin-left: 1rem;
      }
    }

    .about-flex__image-block {
      position: relative;
    }

    @media (width > 62.5rem) {
      flex-direction: row;
      gap: 3rem;
    }
  }

  .cmp-info-text--pg2 {
    position: absolute;
    color: var(--clr-green-100);
    font-size: clamp(1.25rem, 2vw, 1.75rem);
    right: 3.5rem;
    top: 0.25rem;
    border-radius: 1rem;
    text-decoration: dotted underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.25em;
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
    rotate: 6deg;

    .cmp-info-text--pg2__swipe {
      display: inline;
      color: var(--clr-green-250);
    }

    .cmp-info-text--pg2__scroll {
      display: none;
      color: var(--clr-green-250);
    }

    @media (width > 62.5rem) {
      right: 16rem;
      top: 2rem;
      rotate: -10deg;

      .cmp-info-text--pg2__swipe {
        display: none;
      }

      .cmp-info-text--pg2__scroll {
        display: inline;
      }
    }
  }

  .about-flex__carousel {
    position: relative;
    margin-inline: auto;
    padding-inline: 1rem;
    max-height: clamp(8rem, 53vw, 24rem);
    margin-top: 5rem;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    z-index: 5;

    @media (width > 62.5rem) {
      margin: 9rem 1rem 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .about-image-track {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      user-select: none;
      cursor: auto;

      @media (width > 62.5rem) {
        min-width: 27rem;
        padding-block: 2em;
      }
    }

    img {
      max-height: 25rem;
      border-radius: 0.75rem;
      box-shadow:
        0 6px 12px rgba(0, 0, 0, 0.4),
        0 4px 8px rgba(0, 0, 0, 0.2),
        0 0 0 1px rgba(255, 255, 255, 0.04);
      cursor: pointer;
      user-select: none;
    }
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 3 / SECTION-ONE / MENU ***       \\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  #menu-section {
    text-align: center;
  }

  .cmp-heading--sub-pg3 {
    font-size: clamp(2.25rem, 7vw, 3rem);
    font-family: var(--ff-body-sans);
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1em;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.9);
  }

  .menu-grid-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;

    @media (width > 62.5rem) {
      grid-template-columns: 1fr 1fr;
      gap: 0;
      margin-top: 4rem;
    }
  }

  .food-button,
  .drinks-button {
    gap: 2rem;
    max-width: fit-content;
    margin-inline: auto;
  }

  .food-button {
    display: grid;
    grid-template-columns: 1fr;

    @media (width > 62.5rem) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .drinks-button {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    @media (width > 62.5rem) {
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  .drinks-buttons {
    margin-bottom: 5.5rem;
  }

  .menu-turtle-svg {
    --turtle-delay: 5s;

    position: absolute;
    width: 4.25rem;
    z-index: 100;
    top: 3rem;
    filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(6px 2px 6px rgba(0, 0, 0, 0.15));
    transform: translate(50px, -120px);
    animation:
      turtlePath-S 160s infinite var(--turtle-delay) linear,
      wiggle 1s ease-in-out infinite var(--turtle-delay);

    @media (width > 62.5rem) {
      width: 6.5rem;
      transform: translate(-250px, 100px);
      animation:
        turtlePath-L 170s linear infinite var(--turtle-delay),
        wiggle 0.5s ease-in-out infinite var(--turtle-delay);
    }
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 4 / SECTION-ONE / GALLERY ***       \\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .gallery-section {
    text-align: center;
  }

  .gallery-book-svg-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0;
    gap: 4rem;
    margin-top: 2.5rem;
    padding-inline: 1.5rem;
    padding-bottom: 1rem;
    z-index: 5;

    &.absolute-position {
      position: absolute;
      margin-top: 1rem;

      @media (width > 62.5rem) {
        margin-top: 4rem;
      }
    }

    @media (width > 62.5rem) {
      flex-direction: column;
      justify-content: center;
      gap: 0;
      padding-bottom: 0.5rem;
      margin-top: 9rem;
    }
  }

  .gallery-book-svg-box__books-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    width: 100%;

    @media (width > 62.5rem) {
      flex-direction: row;
    }
  }

  .gallery-book-svg-box__wrapper {
    position: relative;
    width: 85%;
    margin-top: clamp(5rem, 20vw, 10rem);
    overflow: visible;
    /* isolation: isolate; */

    @media (width > 62.5rem) {
      margin-top: 0;
      width: 30%;
    }

    .gallery-album-label {
      position: absolute;
      inset: 0;
      pointer-events: none;
      z-index: 10;

      span {
        display: inline-block;
        padding: 0.4em 0.8em;
        background: var(--clr-bg-green-gradient);
        opacity: 0.95;
        border-radius: 1.5rem;

        @media (width > 37.5rem) {
          box-shadow:
            0 3px 14px rgba(0, 0, 0, 0.25),
            inset 0 0 0 1px rgba(0, 0, 0, 0.08);
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0.15em;
          left: 20%;
          width: 0.4rem;
          height: 0.4rem;
          background: var(--clr-green-300);
          border-radius: 50%;
          transform: translateX(-50%);

          @media (width > 37.5rem) {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          }

          @media (width > 62.5rem) {
            width: 0.5rem;
            height: 0.5rem;
            left: 10%;
          }
        }
      }
    }

    .gallery-album-label--black {
      span {
        &::before {
          left: unset;
          right: 12%;
        }
      }
    }

    .gallery-album-label--beer {
      top: 1.5rem;
      rotate: -12deg;

      @media (width > 62.5rem) {
        top: 1.8rem;
        rotate: 7deg;
      }

      span {
        &::before {
          left: 20%;

          @media (width > 62.5rem) {
            left: clamp(70%, 12vw, 83%);
          }
        }
      }
    }
  }

  .cmp-info-text--pg4,
  .beer-image-box span {
    font-size: clamp(1.25rem, 6vw, 2.25rem);
    font-family: var(--ff-heading-times);
    letter-spacing: 0.1em !important;
    line-height: 1.4em !important;
    pointer-events: none;

    @media (width > 62.5rem) {
      font-size: clamp(1.25rem, 2.75vw, 1.75rem);
    }
  }

  .cmp-info-text--pg4 {
    top: -20%;
    left: 30%;
    color: var(--clr-lighter-white) !important;
    letter-spacing: 0.15em;
    opacity: 1;
    translate: -50% -50%;
    rotate: -10deg;
    border-radius: 2rem;

    @media (width > 37.5rem) {
      filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.45));
    }

    @media (width > 62.5rem) {
      top: -20%;
      left: 30%;
      rotate: -12deg;
    }
  }

  .cmp-info-text--pg4--black {
    opacity: 1;
    rotate: 12deg;
    left: 72%;

    @media (width > 62.5rem) {
      left: 78%;
      rotate: 23deg;
    }
  }

  .gallery-album-image {
    position: relative;
    width: 100%;
    border-radius: 0.75rem;
    cursor: pointer;
    box-shadow:
      0 6px 12px rgba(0, 0, 0, 0.4),
      0 4px 8px rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(255, 255, 255, 0.04);
  }

  .gallery-book-svg-box__wrapper--beer-fest {
    position: relative;

    @media (width > 24rem) {
      margin-bottom: 3rem;
    }

    @media (width > 62.5rem) {
      position: absolute;
      margin-top: 6rem;
      mrgin-bottom: unset;
      max-width: clamp(12rem, 20vw, 18rem);
    }
  }

  .beer-image-box {
    position: relative;
    width: 100%;
    min-height: 17rem;
    margin-top: 2rem;
    left: 0.5rem;
    margin-inline: auto;

    img {
      max-width: 19rem;
    }

    span {
      display: block;
      color: var(--clr-lighter-white) !important;
      top: -20%;
      left: 50%;
      translate: -50% -50%;
      opacity: 1;
      letter-spacing: 0.15em;
      line-height: 2em;
      border-radius: 2rem;

      @media (width > 37.5rem) {
        top: -20%;
      }

      @media (width > 62.5rem) {
        top: -30%;
      }
    }

    @media (width > 62.5rem) {
      margin-top: 7rem;
      max-width: 70%;
      bottom: 2rem;
    }
  }

  .album-wrapper {
    display: block;
    position: relative;
    z-index: 10;
  }

  .album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    place-items: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
    margin-inline: auto;

    a {
      max-height: 300px;
    }

    img {
      max-width: 80%;
      height: 100%;
      max-height: 300px;
      aspect-ratio: 1/2;
      object-fit: cover;
      border-radius: 20px;
      opacity: 0;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.533);
      cursor: pointer !important;

      &:hover {
        animation: vibrate 3s linear infinite;
      }

      @media (width > 35rem) {
        max-width: 100%;
      }
    }
  }

  .album-grid__btn {
    position: absolute;
    font-size: var(--fs-btn-text);
    font-weight: 600;
    top: -4.5rem;
    right: 0;
    padding: 0.75em 1.25em;
    border-radius: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    z-index: 20;
    box-shadow: 3px 2px 4px var(--clr-lighter-black);
    transition:
      transform 0.2s ease-out,
      background-color 0.2s ease-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .scrollToTopButton {
    display: flex;
    position: static;
    bottom: 12rem;
    right: 1.25rem;
    width: 3rem;
    height: 3rem;
    background-color: white;
    opacity: 0;
    border-radius: 50%;
    color: black;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
      opacity 0.7s ease,
      transform 0.7s ease;

    &:hover {
      transform: scale(1.2);
    }

    @media (width > 62.5rem) {
      right: 3.75rem;
    }
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 5 / SECTION-ONE / CONTACT ***       \\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  #contact-section {
    padding-bottom: 3rem;
    text-align: left;

    @media (width > 62.5rem) {
      padding-bottom: 0;
    }
  }

  .contact-block-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-inline: auto;
    backdrop-filter: blur(0.05rem);
    -webkit-backdrop-filter: blur(0.05rem);

    @media (width > 46.875rem) {
      max-width: unset;
    }

    @media (width > 62.5rem) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      max-width: unset;
    }
  }

  .cmp-text--pg5 {
    margin-bottom: 1.5rem;
    max-width: 55ch;

    &:not(:first-of-type) {
      @media (width > 62.5rem) {
        display: flex;
        gap: 0.75rem;
        align-items: center;
      }
    }

    .phone-span {
      display: inline-block;
      color: var(--clr-lighter-white);
      text-shadow: 2px 2px 6px var(--clr-lighter-black);
      margin-left: 0;
      margin-top: 0.25rem;
      animation: shake 15s infinite;
    }

    &:first-of-type {
      font-size: clamp(1.65rem, 7vw, 2.5rem);
      font-weight: 600;
      line-height: 1.5em;
    }

    &:nth-of-type(5) span {
      text-decoration: wavy underline !important;
      text-decoration-thickness: 0.05rem !important;
      text-underline-offset: 0.15em;
      text-decoration-color: var(--clr-green-200) !important;
    }

    &:last-of-type {
      font-weight: 600;
      text-decoration: underline;
      line-height: 1.85em;
      text-underline-offset: 0.3em;
    }

    &:nth-child(2) svg,
    &:nth-child(3) svg {
      margin-right: 0.2rem;
    }

    svg {
      display: none;

      @media (width > 62.5rem) {
        display: block;
        min-width: 18px;
        width: 3%;
      }
    }
  }

  .maps-container {
    position: relative;

    span {
      position: absolute;
      font-size: clamp(1.6rem, 4vw, 2rem);
      top: -3rem;
      left: -2rem;
      rotate: -12deg;
      z-index: 999;
      animation: heartbeat 8s cubic-bezier(0.645, 0.045, 0.355, 1) 4s infinite;

      @media (width > 62.5rem) {
        top: -7rem;
        left: -5rem;
      }
    }

    @media (width > 62.5rem) {
      max-width: 42%;
    }
  }

  .maps-container__map {
    position: relative;
    display: block;
    max-width: 80%;
    max-height: 18rem;
    margin-inline: auto;
    z-index: 5;

    @media (width > 62.5rem) {
      max-width: 90%;
      bottom: 4rem;
      max-height: 22rem;
    }
  }
}

@layer utilities {
  .wrapper {
    max-width: calc(81.25rem + 2rem);
    padding-inline: clamp(1rem, 3.5vw, 2rem);
    margin-inline: auto;
  }

  .wrapper--wide {
    max-width: calc(90rem + 2rem);
  }

  .wrapper--header {
    max-width: calc(85rem + 2rem);
    min-height: clamp(4.75rem, 6vw, 5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper--mobile-xl {
    @media (width < 62.5rem) {
      max-width: calc(42rem + 2rem);
    }
  }

  .wrapper--mobile-l {
    @media (width < 62.5rem) {
      max-width: calc(42rem + 2rem);
      padding-inline: 3rem;
    }
  }

  .hidden {
    display: none;
  }

  .visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }

  .skip-to-content:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    transform: translateY(-5rem);
  }

  .skip-to-content {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    left: 1rem;
    top: 7rem;
    transition: transform 0.5s ease-out;
  }

  .no-animation {
    animation: none !important;
  }
}

@layer animations {
  @keyframes vibrate {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-4px, 4px);
    }
    40% {
      transform: translate(-4px, -4px);
    }
    60% {
      transform: translate(4px, 4px);
    }
    80% {
      transform: translate(4px, -4px);
    }
    100% {
      transform: translate(0);
    }
  }

  @keyframes jello-diagonal {
    30% {
      transform: skew(-25deg -25deg);
    }
    40% {
      transform: skew(15deg, 15deg);
    }
    50% {
      transform: skew(-15deg, -15deg);
    }
    65% {
      transform: skew(5deg, 5deg);
    }
    75% {
      transform: skew(-5deg, -5deg);
    }
    100% {
      transform: skew(0deg 0deg);
      opacity: 1;
    }
  }

  @keyframes flip-in {
    0% {
      transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0);
      opacity: 1;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    30%,
    50% {
      transform: translateX(0);
    }
    70% {
      transform: translateX(-10px);
    }
    20%,
    40% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(10px);
    }
    80% {
      transform: translateX(8px);
    }
    90% {
      transform: translateX(-8px);
    }
  }

  @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  @keyframes turtlePath-L {
    0% {
      transform: translate(-200px, 100px) rotate(90deg);
    }
    40% {
      transform: translate(1400px, 100px) rotate(90deg);
    }
    50% {
      transform: translate(1400px, 100px) rotate(270deg);
    }
    90% {
      transform: translate(-200px, 100px) rotate(270deg);
    }
    100% {
      transform: translate(-200px, 100px) rotate(90deg);
    }
  }

  @keyframes turtlePath-S {
    0% {
      transform: translate(50px, -120px) rotate(180deg);
    }
    40% {
      transform: translate(50px, 880px) rotate(180deg);
    }
    50% {
      transform: translate(50px, 880px) rotate(0deg);
    }
    90% {
      transform: translate(50px, 0) rotate(0deg);
    }
    100% {
      transform: translate(50px, -120px) rotate(180deg);
    }
  }

  @keyframes wiggle {
    0% {
      rotate: 0deg;
    }
    25% {
      rotate: 0.25deg;
    }
    50% {
      rotate: 0.5deg;
    }
    75% {
      rotate: 0.25deg;
    }
    100% {
      rotate: 0deg;
    }
  }
}
